body{
    height: auto;
    background-color: #999;
}

.container{
    min-height: 100%;
    padding:0 0 20px 0;
    background-color: silver;
}

main{
    /* min-height: 100%; */
    padding:50px;
  
}

.navigation{
    height: 100px;
    padding: 0 100px;
    background-color: gold;
}

.navigation__list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  
}

.navigation__item {
    font-size: 28px;
}

.form-btn {
    min-width: 60px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
}

.profile__img__box{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .2);
    display:flex;justify-content:center;
    align-items: center;
    box-shadow: 0 4px 6px 8px rgba(0, 0, 0, .2);
    background-color: #fff;
}

.profile__img{
    width: 180px;
    height: 180px;
    object-fit:cover;
    border-radius: 50%;
    
}

/* .thumbnail__container{width:100%;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center} */
.thumbnail{width:120px;height:120px;margin:.5rem;background-color:black}
.thumbnail__img{width:100%;height:120px;object-fit:cover}



/* UPDATE */
.btn-canc-img {
    position: absolute;
    top: 150px;
    left: 150px;
}
/* END UPDATE */